<mat-sidenav-container fullscreen>

  <!-- 
    Esto es un indentidicador local, el nombre puede ser cualquiera
    pero el evento toggle() si es de el paquete material design
  -->
  <mat-sidenav #sidenav mode="push">

    <!-- Toolbar -->
    <mat-toolbar>
      <span>Menu</span>
      <div class="spacer"></div>
      <button 
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>
          menu
        </mat-icon>
      </button>
  
    </mat-toolbar>

    <!-- List -->

    <mat-nav-list>
      <a 
        routerLink="./list" 
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <mat-icon
          mat-list-icon
        >label</mat-icon>
        <span>Heroes List</span>
      </a>
      <a 
        routerLink="./add" 
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <mat-icon
          mat-list-icon
        >add</mat-icon>
        <span>Add Hero</span>
      </a>
      <a 
        routerLink="./search" 
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <mat-icon
          mat-list-icon
        >search</mat-icon>
        <span>Search Hero</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>
    <button 
      mat-icon-button
      (click)="sidenav.toggle()"
    >
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <div class="spacer"></div>
    <span>{{auth.usuario}}</span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>
        logout
      </mat-icon>
    </button>

  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>